<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ArchiveMe.Properties.Settings.SmsConnection" connectionString="data source=D:\Workspace\iSms\sms.db"
            providerName="System.Data.SQLite" />
        <add name="ArchiveMe.Properties.Settings.AddrConnection" connectionString="data source=D:\Workspace\iSms\AddressBook.sqlitedb"
            providerName="System.Data.SQLite" />
        <add name="ArchiveMe.Properties.Settings.iSmsConnection" connectionString="data source=D:\Workspace\ArchiveMe\ArchiveMe\bin\db\iSms.sqlite"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>